body{
	font-family: 'Marvel', sans-serif;
	background-color: darkred;
	background-image: url("img/background.jpeg");
}

li, .heroSlides p, .carousel, .well {
	color: white;
}

input, textarea {
	color: black;
	width: 100%
}

a {
  text-decoration: none;
	text-transform: uppercase;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

.navbar a {
	margin: 2em;
	color: white;
}


.navbar {
	padding: 1em;
	width: 100%;
}

.nav, .well, .carousel{
	background-color: black;
	opacity: 0.95;
}

.well {
	border: none;
	max-width: 50em;
	margin: 0 auto;
}

.carousel{
	max-width: 50em;
	height: 40em;
	margin: 0 auto;
	border-radius: 5px;
}

.carousel-control.left, .carousel-control.right {
 	background-image: none;
}

.carousel-indicators li { 
	visibility: hidden; 
}

.carousel a {
	color: darkred;
	font-size: 25px;
}

.carousel h1 {
	font-size: 40px;
	font-weight: bold;
}

.heroData a {
	padding-right: 1em;
}

.heroImg {
	max-height: 200px;
	min-height: 200px;
	width: 200px;
	margin: 0 auto;
	-moz-box-shadow: 0 0 10px red; 
	-webkit-box-shadow: 0 0 10px red; 
	box-shadow: 0 0 30px red; 
}

.heroSlides p {
	text-align: justify;
	padding: 1em 3em;
	height: 200px;
	max-width: 30em;
	margin: 0 auto;
	overflow: auto;
}

.heroSlides .logo {
	padding: 0.5em 0 0 1em;
}

.dataPanel{
	padding-top: 1em;
}